services:
  comfyui-nvidia:
    image: mmartial/comfyui-nvidia-docker:latest
    container_name: comfyui-nvidia
    ports:
      - 8188:8188
    volumes:
      - ./run:/comfy/mnt
      - ./basedir:/basedir
#      - /usr/lib/wsl:/usr/lib/wsl # Required for Windows Subsystem for Linux 2
    restart: unless-stopped
    environment:
      # set WANTED_UID and WANTED_GID to your user and group as obtained with `id -u` and `id -g`
      - WANTED_UID=1000
      - WANTED_GID=1000
      - BASE_DIRECTORY=/basedir
      - SECURITY_LEVEL=normal
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
#      - COMFY_CMDLINE_EXTRA=--disable-api-nodes --fast fp16_accumulation --normalvram --reserve-vram 1 --fp16-vae --cuda-malloc # Arguments to pass to ComfyUI
#      - USE_SOCAT=false # Have ComfyUI listen on 127.0.0.1:8181 and use socat to expose the service on 0.0.0.0:8188 (Default: false)
#      - FORCE_CHOWN=false # Force change directory ownership as the comfy user during script startup (Default: false)
#      - USE_PIPUPGRADE=true # Upgrade ComfyUI and other Python packages to the latest version during startup (Default: true)
#      - DISABLE_UPGRADES=false # Disable upgrades when starting the container (also disables USE_PIPUPGRADE) (Default: false)
#      - PREINSTALL_TORCH=true # Automatically install/upgrade torch. (Default: true)
#      - LD_LIBRARY_PATH=/usr/lib/wsl/lib # Required for Windows Subsystem for Linux 2
#      - USE_UV=true # Use "uv pip" instead of "pip" (Default: false)
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
                - compute
                - utility